@model IEnumerable<E_Commerce20.Models.Categorias>

@{
    ViewBag.Title = "CategoriasMntIndex";
    Layout = "~/Views/Shared/_LayoutCompleto.cshtml";
}



<br />
<div class="card shadow-lg">
    <div class="card-header">
        <h3 class="m-0 font-weight-bold text-dark">Listado de Categorias</h3> 
        <br />
        <a href="@Url.Action("CategoriasMntCreate", "CategoriasMnt")" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Agregar Categoria</span>
        </a>

    </div>
    <div class="card-body">

        <table class="table table-striped">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.idCategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombreCategoria)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idCategoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreCategoria)
                    </td>


                    <td>
                        <a href="@Url.Action("CategoriasMntEdit", "CategoriasMnt", new { id = item.idCategoria })" class="btn btn-success btn-circle">
                            <i class="fas fa-edit"></i>
                        </a>

                    </td>
                </tr>
            }

        </table>
    </div>

</div>

